/* Set a background color for the page */
body {
  background-color: #f1f1f1;
}

/* Style the buttons */
button {
  background-color: #4caf50; /* Green */
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px;
}

button:hover {
  opacity: 0.8;
}

/* Style the video elements */
video {
  display: block;
  margin: 20px auto;
  /* border: 2px solid #ccc; */
  border-radius: 4px;
}

/* Style the unordered list */
ul {
  list-style-type: none;
  padding: 0;
  margin: 10px;
}

/* Style the list items */
li {
  padding: 10px;
  margin-bottom: 5px;
  background-color: white;
  border-radius: 4px;
}

/* Style the download link */
a {
  color: #4caf50;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
